name: check-cuda

on:
  schedule:
    - cron: '0 15 * * *'
  workflow_dispatch:
    inputs:
      focce:
        description: 'focce rebase'
        required: false
        default: false
        type: boolean

jobs:
  check-cuda:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check HTTP status
        uses: gerdemann/http-status-code@1.1.1
        with:
          url: https://developer.nvidia.com/cuda-toolkit-archive
          code: 200

      - name: Check for available updates
        continue-on-error: true
        id: cheak_diff
        run: |
          git branch -a | grep -q "remotes/origin/create-pull-request/cuda" && git fetch origin create-pull-request/cuda
          git reset origin/create-pull-request/cuda
          git add .
          git commit -m A
          git reflog
          if [ "$(git diff --ignore-space-at-eol --name-only origin/create-pull-request/cuda..HEAD -- cuda-toolkit-archive | wc -l)" -gt "0" ]; then
            echo "diff=true" >> $GITHUB_OUTPUT
          else
            echo "diff=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request
        id: cpr
        if: ${{ steps.check_diff.outputs.diff == 'true' || (inputs.focce == true && always()) }}
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "[bot]update cuda-toolkit-archive"
          title: "update cuda-toolkit-archive"
          labels: cuda
          body: maybe update CUDA check [cuda-toolkit-archive](https://developer.nvidia.com/cuda-toolkit-archive)
          draft: true
          delete-branch: true
          branch: create-pull-request/cuda
          author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cuda-toolkit-archive
          path: cuda-toolkit-archive
